doctype html
html
    head
        title= `${title} | ${h.siteName}`
        link(rel='stylesheet', href='/dist/style.css')
        link(rel="shortcut icon" type="image/png" href="/img/icon/favicon-310.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        block header
            header.top
                nav.nav
                    .nav__section.nav__section--logo
                        li.nav__logo
                            a.nav__link.nav__link--logo(href="/")
                                <span class="red">Event</span>Hop
                    .nav__section.nav__section--pages
                        li.nav__item: a.nav__link(href="/events", class=(currentPath.startsWith('/events') ? 'nav__link--active' : '')) Events
                        li.nav__item: a.nav__link(href="/create", class=(currentPath.startsWith('/create') ? 'nav__link--active' : '')) Create
                        li.nav__item: a.nav__link(href="/contact", class=(currentPath.startsWith('/contact') ? 'nav__link--active' : '')) Contact
                    .nav__section.nav__section--user
                        li.nav__item: a.nav__link.nav__link--login(href="/login", class=(currentPath.startsWith('/login') ? 'nav__link--active' : '')) Login
                        li.nav__item: a.nav__link.nav__link--signup(href="/register", class=(currentPath.startsWith('/register') ? 'nav__link--active' : '')) Sign-Up
                        
        block messages
            if locals.flashes
                .inner
                    .flash-messages
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}`)
                                    p.flash__text!= message
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
        main.content
            block content

        block scripts
            script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
            script(src="/dist/eventHop-app.js")
    