mixin sponsored()
    section#sponsored-content.section
        .l-flex-col
            .section__titles
                h2.h-center-text= (event.name).toUpperCase()
                h4.h-center-text= event.byline
            .section__sponsored.l-flex-row.l-container
                .section__image
                    img.img.img__sponsored.h-img-fluid(src=`/img/photos/${event.event_image}`)
                .section__description
                    p.section__text.h-center-text= event.event_description
            .section__map.section__map--events
                h2 Event Route
                #map.map--events
            #infocards.l-container.l-flex-col.h-center-text
                .infocard
                    .infocard__body
                        h2.infocard__title Bull City Burger and Brewery
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - let review = {rating:3.3}
                            - let ratingMod = review.rating % 1;
                            - let ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 107 E Parrish St, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 680-2333
                        .infocard__footer
                            a.infocard__anchor.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
                .infocard
                    .infocard__body
                        h2.infocard__title Fullsteam Brewery
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - review = {rating:4.6}
                            - ratingMod = review.rating % 1;
                            - ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 726 Rigsbee Ave, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 682-2337
                        .infocard__footer
                            a.infocard__anchor.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
                .infocard.infocard--red
                    .infocard__body
                        h2.infocard__title Tobacco Road Sports Cafe
                        p.infocard__text.infocard__text--rating Google Ratings: <br>
                            - review = {rating:4.2}
                            - ratingMod = review.rating % 1;
                            - ratingRounded = review.rating - ratingMod
                            span.stars(title= `Rated ${review.rating} out of 5 stars`)
                                if ratingMod < 0.25
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else if ratingMod > 0.75
                                    - let rate = ratingRounded + 1
                                    = `★`.repeat(rate)
                                    = `☆`.repeat(5 - rate)
                                else
                                    - let rate = ratingRounded
                                    = `★`.repeat(rate)
                                    span.star-icon.half
                                        = `☆`
                                    = `☆`.repeat(5 - (rate + 1))
                        p.infocard__text.infocard__text--address 280 S Mangum St #100, Durham, NC 27701, USA
                        p.infocard__text.infocard__text--phone Phone Number: (919) 937-9909
                        .infocard__footer
                            a.infocard__anchor.infocard__anchor--white.infocard__website(href="www.google.com" target="_blank") Website
                    .img__infocard-div
                            img.img__infocard(src="/img/photos/durham.jpeg")
